.dica {
    margin-top: 40px;
}

.hiragana {
    // background-color: aqua;
    width: 100%;
    height: 100%;
    font-size: 10em;
    text-align: center;
}

.romaji {
    // background-color: aqua;
    width: 100%;
    height: 100%;
    font-size: 4em;
    text-align: center;
}

.audio {
    // background-color: aqua;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
}

