<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>HIRAGANA</ion-title>
      <ion-badge color="dark" slot="end">Nv. {{profile.nivel}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-card>
      <ion-item color="medium" button detail="true" [routerLink]="['/tutorial']">
        Tutorial
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n1}" detail="true" (click)="jogar('1')">
        Nível 1
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n2}" detail="true" (click)="jogar('2')">
        Nível 2
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n3}" detail="true" (click)="jogar('3')">
        Nível 3
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n4}" detail="true" (click)="jogar('4')">
        Nível 4
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n5}" detail="true" (click)="jogar('5')">
        Nível 5
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n6}" detail="true" (click)="jogar('6')">
        Nível 6
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n7}" detail="true" (click)="jogar('7')">
        Nível 7
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n8}" detail="true" (click)="jogar('8')">
        Nível 8
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n9}" detail="true" (click)="jogar('9')">
        Nível 9
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n10}" detail="true" (click)="jogar('10')">
        Nível 10
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n11}" detail="true" (click)="jogar('11')">
        Nível 11
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n12}" detail="true" (click)="jogar('12')">
        Nível 12
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n13}" detail="true" (click)="jogar('13')">
        Nível 13
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n14}" detail="true" (click)="jogar('14')">
        Nível 14
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n15}" detail="true" (click)="jogar('15')">
        Nível 15
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n16}" detail="true" (click)="jogar('16')">
        Nível 16
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n17}" detail="true" (click)="jogar('17')">
        Nível 17
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n18}" detail="true" (click)="jogar('18')">
        Nível 18
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n19}" detail="true" (click)="jogar('19')">
        Nível 19
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n20}" detail="true" (click)="jogar('20')">
        Nível 20
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n21}" detail="true" (click)="jogar('21')">
        Nível 21
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n22}" detail="true" (click)="jogar('22')">
        Nível 22
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n23}" detail="true" (click)="jogar('23')">
        Nível 23
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n24}" detail="true" (click)="jogar('24')">
        Nível 24
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n25}" detail="true" (click)="jogar('25')">
        Nível 25
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n26}" detail="true" (click)="jogar('26')">
        Nível 26
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n27}" detail="true" (click)="jogar('27')">
        Nível 27
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n28}" detail="true" (click)="jogar('28')">
        Nível 28
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n29}" detail="true" (click)="jogar('29')">
        Nível 29
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n30}" detail="true" (click)="jogar('30')">
        Nível 30
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n31}" detail="true" (click)="jogar('31')">
        Nível 31
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n32}" detail="true" (click)="jogar('32')">
        Nível 32
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n33}" detail="true" (click)="jogar('33')">
        Nível 33
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n34}" detail="true" (click)="jogar('34')">
        Nível 34
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n35}" detail="true" (click)="jogar('35')">
        Nível 35
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n36}" detail="true" (click)="jogar('36')">
        Nível 36
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n37}" detail="true" (click)="jogar('37')">
        Nível 37
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n38}" detail="true" (click)="jogar('38')">
        Nível 38
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n39}" detail="true" (click)="jogar('39')">
        Nível 39
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n40}" detail="true" (click)="jogar('40')">
        Nível 40
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n41}" detail="true" (click)="jogar('41')">
        Nível 41
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n42}" detail="true" (click)="jogar('42')">
        Nível 42
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n43}" detail="true" (click)="jogar('43')">
        Nível 43
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n44}" detail="true" (click)="jogar('44')">
        Nível 44
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n45}" detail="true" (click)="jogar('45')">
        Nível 45
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n46}" detail="true" (click)="jogar('46')">
        Nível 46
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n47}" detail="true" (click)="jogar('47')">
        Nível 47
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n48}" detail="true" (click)="jogar('48')">
        Nível 48
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n49}" detail="true" (click)="jogar('49')">
        Nível 49
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n50}" detail="true" (click)="jogar('50')">
        Nível 50
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n51}" detail="true" (click)="jogar('51')">
        Nível 51
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n52}" detail="true" (click)="jogar('52')">
        Nível 52
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n53}" detail="true" (click)="jogar('53')">
        Nível 53
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n54}" detail="true" (click)="jogar('54')">
        Nível 54
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n55}" detail="true" (click)="jogar('55')">
        Nível 55
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n56}" detail="true" (click)="jogar('56')">
        Nível 56
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n57}" detail="true" (click)="jogar('57')">
        Nível 57
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n58}" detail="true" (click)="jogar('58')">
        Nível 58
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n59}" detail="true" (click)="jogar('59')">
        Nível 59
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n60}" detail="true" (click)="jogar('60')">
        Nível 60
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n61}" detail="true" (click)="jogar('61')">
        Nível 61
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n62}" detail="true" (click)="jogar('62')">
        Nível 62
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n63}" detail="true" (click)="jogar('63')">
        Nível 63
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n64}" detail="true" (click)="jogar('64')">
        Nível 64
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n65}" detail="true" (click)="jogar('65')">
        Nível 65
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n66}" detail="true" (click)="jogar('66')">
        Nível 66
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n67}" detail="true" (click)="jogar('67')">
        Nível 67
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n68}" detail="true" (click)="jogar('68')">
        Nível 68
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n69}" detail="true" (click)="jogar('69')">
        Nível 69
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="dark" button [ngStyle]="{'display': n70}" detail="true" (click)="jogar('70')">
        Nível 70
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" [routerLink]="['/tabela-hiragana']">
      <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
