<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="text-titulo">
      VOCABULÁRIO
    </ion-title>
    <ion-badge class="cabecalho-nivel" color="dark" slot="end">Nv. {{nivel}}</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card disabled color="medium" class="animate__animated animate__zoomInDown">
    <ion-card-header>
      <ion-card-title>Aprenda novas palavras...</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card disabled color="medium" class="animate__animated animate__zoomInDown animate__delay-1s">
    <ion-card-header>
      <ion-card-title>...e memorize todas elas!</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card disabled color="medium" class="animate__animated animate__fadeInUp animate__delay-2s animate__slow">
    <ion-card-header>
      <ion-card-title align="center">EM BREVE</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
